<div class="list-group">
  <!-- <ng-template ngFor [ngForOf]="playlists" let-playlist="$implicit" let-i="index"> -->

  <ng-template ngFor [ngForOf]="playlists" let-playlist let-i="index">
    <a href="#" class="list-group-item list-group-item-action">
      {{ i + 1 }}. {{ playlist.name }}
    </a>
  </ng-template>

  <a
    href="#"
    *ngFor="let playlist = $implicit of playlists; let i = index"
    class="list-group-item list-group-item-action"
  >
    {{ i + 1 }}. {{ playlist.name }}
  </a>
</div>

<!-- 
 
  for(let playlist of playlists){
    for(let track =  $implicit of tracks){
      playlist
      track
    }
  }


  for(item of items){
    item.name 
  }
 -->
