<pre>{{ playlist | json }}</pre>

<div class="mb-3">
  <label for="playlist_name" class="form-label">Name</label>

  <input
    #nameInputRef
    type="email"
    class="form-control"
    id="playlist_name"
    placeholder="Name"
    [(ngModel)]="playlist.name"
  />
  <small class="text-muted float-end">{{ playlist.name.length }} / 100</small>

  <!-- [ngModel]=" myFormatVal( playlist.name )" -->
  <!-- (ngModelChange)="playlist.description = myParseVal( $event )" -->
</div>

<div class="form-check">
  <input
    #checkboxRef
    class="form-check-input"
    type="checkbox"
    id="playlist_public"
    [(ngModel)]="playlist.public"
  />
  <label class="form-check-label" for="playlist_public">
    Public {{ checkboxRef.checked }}</label
  >
</div>

<div class="mb-3">
  <label for="playlist_description" class="form-label">Description</label>
  <textarea
    class="form-control"
    id="playlist_description"
    rows="3"
    [(ngModel)]="playlist.description"
  ></textarea>

  <!-- [value]="playlist.description" -->
  <!-- (input)="playlist.description = $any($event.target).value" -->
</div>

<!-- 
<button class="btn btn-danger">Cancel</button>
<button class="btn btn-primary">Save</button> -->