<dl
  [id]="'playlist_' + playlist.id"
  [title]="playlist.name"
  [attr.data-playlist-id]="playlist.id"
>
  <dt>Name</dt>
  <dd>{{ playlist.name }}</dd>

  <dt>Public</dt>

  <!-- Single style values -->
  <dd [style.color]="playlist.public ? 'red' : 'green'">
    {{ playlist.public ? "Yes" : "No" }}
  </dd>
  <!-- Multiple styles values -->
  <dd
    [ngStyle]="{
      color: playlist.public ? 'red' : 'green',
      borderBottom: '1px solid '
    }"
  >
    {{ playlist.public ? "Yes" : "No" }}
  </dd>

  <!-- ---- -->
  <dd [class]="playlist.public ? 'isPublic' : 'isPrivate'">
    {{ playlist.public ? "Yes" : "No" }}
  </dd>

  <!-- Single Classes on/off -->
  <dd [class.isPublic]="playlist.public" 
      [class.isPrivate]="!playlist.public">
    {{ playlist.public ? "Yes" : "No" }}
  </dd>

  <!-- Multiple Classes on/off -->
  <dd
    [ngClass]="{
      isPublic: playlist.public,
      isPrivate: playlist.public == false
    }"
  >
    {{ playlist.public ? "Yes" : "No" }}
  </dd>

  <dt>Description</dt>
  <dd>{{ playlist.description }}</dd>
</dl>

<button class="btn btn-primary mt-2">Edit</button>

<!-- {{ text }} -->
<!-- [props]=value -->
<!-- [attr.name]=value -->
